* {
  margin: 0;
  font-family: 'Outfit', sans-serif;
  font-family: 'Roboto', sans-serif;
}


body{
  /* background-color: #f2653d80; */
  /* linear-gradient(90deg, rgba(242,101,61,0.5) 0%, rgba(242,101,61,0.5) 100%), */
  background: linear-gradient(90deg, rgba(242,101,61,0.7) 0%, rgba(242,101,61,0.7) 100%), url('../public/img/background.jpeg');
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: cover;
}